
<!DOCTYPE html>
<html>
<head>
    <title>Immutable Infrastructure App</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; margin-top: 10%; background-color: #f4f4f9; }
        .card { background: white; padding: 30px; border-radius: 10px; display: inline-block; box-shadow: 0 4px 8px rgba(0,0,0,0.1); }
        h1 { color: #333; }
        span { color: #007bff; font-weight: bold; }
    </style>
</head>
<body>
    <div class="card">
        <h1>Hello from Backend Application Node!</h1>
        <p>This request is handled natively by host: <span>{{ ansible_hostname }}</span></p>
        <p>Server Private IP: <span>{{ ansible_default_ipv4.address }}</span></p>
    </div>
</body>
</html>
