<!DOCTYPE html>
<html>
<head>
    <title>Production App Backend</title>
</head>
<body>
    <h1>Hello from your Cloud-Native Platform!</h1>
    <p>This request was handled by server hostname: <strong>{{ ansible_hostname }}</strong></p>
    <p>Internal IP Address: <strong>{{ ansible_default_ipv4.address }}</strong></p>
</body>
</html>